header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 44px;
  background: linear-gradient(to right, #669cda, #00e1ff);
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.btn-orange {
  background-color: #669cda;
  border-color: #3e82cf;
  color: #fff;
}

.btn-orange:hover {
  background-color: #3e85d6;
  border-color: #396699;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#contenedorProductos {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 2px solid #3e82cf;
  border-radius: 10px;
  margin: 2px;
  padding: 15px 0px;
  background-color: #f1ece8;
}

.tarjeta h3 {
  color: #2963ce;
}

.footer {
  padding-left: 30px;
}
